body {
  text-align: center;
}

section {
  color: black;
  font-family: "Comic Sans MS", sans-serif;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px black;
  background: lightgray;
}

section article {
  color: rgb(15, 15, 15);
  font-family: "Comic Sans MS", sans-serif;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px black;
  background: tan;
}

div {
  padding: 15px;
  margin: 15px;
  color: black;
  font-family: "Comic Sans MS", sans-serif;
  box-shadow: 0 0 10px black;
  width: 300px;
  display: inline-block;
}

figure {
  width: 300px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
}

figure img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: rgb(126, 128, 0);
  font-family: Georgia;
}

p {
  font-family: Lucida;
}

ul {
  line-height: 40px;
}

ol {
  line-height: 40px;
}

img {
  height: 80%;
  width: 30%;
}